.step-welcome {
  max-width: 95%;
}

.welcome-card-container,
.welcome-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
  text-align: center;
}

@media (max-width: 767px) {
  .step-welcome {
    max-width: 100%;
  }
  
  .welcome-card {
    gap: 1rem;
  }
}